{% extends 'base_layout.html' %}
{% block content%}

    <div class="issue_book">
      <form class="site-form" action="{% url 'dash:staff_dash' %}" method="post">
          {% csrf_token %}
          {{ issueform }}
        </br></br>
          <button class="button" style="vertical-align:middle" input type="hidden" value="Issue"><span>ISSUE</span></button>
        </br>
      </form>
    </div>

    <div class="Issued">

      <table id="t01">
        <tr>
          <th>IssueID</th>
          <th>Username</th>
          <th>ISBN</th>
          <th>Issued_date</th>
          <th>Return_date</th>
          <th>RETURN</th>
        </tr>
        {% for issuedbook in issuedbooks %}

          <div class="issuedbook">
              <tr>
                <td><b><a href="#">{{issuedbook.IssueID}}</a></b></td>
                <td>{{issuedbook.userName}}</td>
                <td>{{issuedbook.ISBN}}</td>
                <td>{{issuedbook.Issued_date}}</td>
                <td>{{issuedbook.Return_date}}</td>
                <td>
                  <form  action="{% url 'dash:staff_dash' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="RETURN">
                    <input type="hidden" value="{{issuedbook.IssueID}}" name="id">
                  </form>
                </td>
              </tr>
          </div>



    {% endfor %}
    </table>
    </div>

    <div class="add-books">
      <form class="site-form" action="{% url 'dash:staff_dash' %}" method="post">
          {% csrf_token %}
          {{bookform}}
        </br>
        </br>
          <button class="button" style="vertical-align:middle" input type="hidden" value="ADDBOOK"><span>ADD BOOK</span></button>

      </form>
    </div>

    <!-- <form class="site-form" action="{% url 'dash:staff_dash' %}" method="post">
      {% csrf_token %}
      <button class="button" style="vertical-align:middle"><span>VIEW BOOKS</span></button>
      <input type="hidden" value"VIEW" name"id2">
    </form> -->
    <div class="add-books">
    <form  action="{% url 'dash:staff_dash' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="VIEW BOOKS">
      <input type="hidden" value="WORKS" name="id2">
    </form>
    </div>


{% endblock %}